body{
    background-color: black
}

h1{
font-family: 'Peignot', sans-serif;
color: white;
font-size: 52px;
font-kerning: 100;
}

h2{
font-family: 'Futura', sans-serif;
color: white;
font-size: 20px;
}

h3{
font-family: 'Lato', sans-serif;
color: darkgray;
margin-left: 200px
}

p{
font-family: 'Roboto', sans-serif;
color: white;
}

div{
    font-family: 'Roboto', sans-serif;
}

#columns{
    background-color: lightgray;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    column-gap: 50px;
}

figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.gallery{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
    -moz-column-gap: 50px; /* Firefox */
    margin-top: 20px;
    column-gap: 50px;
    display: table;
    flex-wrap: wrap;
    justify-content: center;
    color: white
}

.gallery .left-col{
    width: 30%
    padding: 1 px;
    border: 1px solid white;
}

.gallery .mid-col{
    width: 30%
    padding: 1 px;
    border: 1px solid white;
}

.gallery .right-col{
    width: 30%
    padding: 1 px;
    border: 1px solid white;
}

#paragraf-bawah{
    color: blue;
    margin-left: 200px
}